<div id="<%= dom_id fleet %>">
  <p>
    <strong>Name:</strong>
    <%= fleet.name %>
  </p>

  <p>
    <strong>Renewables:</strong>
    <%= fleet.fleettype %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= fleet.plate %>
  </p>

  <p>
    <strong>Serial:</strong>
    <%= fleet.serial %>
  </p>

  <p>
    <strong>Renewables:</strong>
    <%= fleet.renewables %>
  </p>

  <p>
    <strong>Docs:</strong>
    <%= fleet.docs %>
  </p>

</div>
