<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mainpane sm:col-start-2">
    <p class="panetitle">New Job</p>
    <div class="panecontent">
      <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
        <%= form.label :start %>
        <input id="startdate"></input>
      </div>
      <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
        <%= form.label :end %>
        <input id="enddate"></input>
      </div>
      <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
        <%= form.label :estimator %>
        <%= form.text_field :estimator, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light w-full" %>
      </div>
      <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
        <%= form.label :foreman %>
        <%= form.text_field :foreman, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light w-full" %>
      </div>
      <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
        <%= form.label :notes %>
        <%= form.text_area :notes, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light w-full" %>
      </div>
      <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
        <%= form.label :crew_size %>
        <%= form.number_field :crew_size, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light w-full" %>
      </div>
      <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
        <%= form.label :est_hours %>
        <%= form.number_field :est_hours, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light w-full" %>
      </div>
      <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
        <%= form.label :price %>
        <%= form.number_field :price, step: 1, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light w-full" %>
      </div>
      <%= form.number_field :property_id, value:@pid, class:'hidden' %>
      <%= form.number_field :user_id, value: current_user.id, class:'hidden' %>

      <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
        <%= form.label :vehicles %>
        <div class="grid grid-cols-2" data-jobform-target="vehiclecheckboxes">
          <% @vehicles.each do |vehicle| %>
            <div class="flex justify-between items-center text-end p-2 bg-green-300 text-dark">
              <input type="checkbox" data-vehicle="<%= vehicle %>">
              <p><%= vehicle %></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
        <%= form.label :equipment %>
        <div class="grid grid-cols-2" data-jobform-target="equipmentcheckboxes">
          <% @equipment.each do |item| %>
            <div class="flex justify-between items-center text-end p-2 bg-green-300 text-dark">
              <input type="checkbox" data-equipment="<%= item %>">
              <p><%= item%></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="grid hidden" data-jobform-target="hiddenforms"></div>
      <div class="hidden">
        <input type="textbox" name="job[start]" id="jobstart">
        <input type="textbox" name="job[end]" id="jobend">
      </div>
      <div class="grid gap-2 hidden" data-jobform-target="treelist">
      </div>
      <div>
        <%= form.submit class:"darkbutton-s"%>
      </div>
    </div>
  </div>
<% end %>
