<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid gap-2 p-2" data-controller="jobform">
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :start %>
      <input id="startdate" name="job[start] id="job_start"></input>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :end %>
      <input id="enddate" name="job[end] id="job_end"></input>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :estimator %>
      <%= form.text_field :estimator, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-emerald-50" %>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :foreman %>
      <%= form.text_field :foreman, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-emerald-50" %>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :notes %>
      <%= form.text_area :notes, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-emerald-50" %>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :crew_size %>
      <%= form.number_field :crew_size, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-emerald-50" %>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :est_hours %>
      <%= form.number_field :est_hours, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-emerald-50" %>
    </div>

    <div class="hidden">
      <%= form.number_field :property_id, value: @job.property_id %>
      <%= form.number_field :user_id, value: current_user.id %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  </div>
<% end %>
