<div class="hidden">
  
  <p id="mapboxpub"><%= ENV["MAPBOX_PUB"] %></p>
  <p id="pid"><%= @pid %></p>
  <p id="uid"><%= @uid %></p>
</div>


<div data-controller="reactnewjob" id="newjobform">
  <div class="grid grid-cols-[3fr_7fr] grid-rows-[80svh_10svh_60svh_2rem] lg:grid-cols-[1fr_2fr] xl:grid-cols-[1fr_3fr] lg:grid-rows-[1fr_12rem] min-h-screen bg-stone-800">
      <div
        class="max-lg:col-span-2 max-lg:row-span-2 max-lg:col-start-1 max-lg:row-start-1 lg:col-start-2 bg-stone-900"
      ></div>
      <div
        className="mainpane row-span-2 row-start-2 col-start-2 lg:row-start-1 lg:col-start-1 lg:min-h-[100svh] z-20"
        id="newjobform"
      >
      </div>
      
      <div
        className="hidden lg:flex lg:flex-col justify-start lg:col-start-2 lg:row-start-2 overflow-scroll p-2 gap-4 bg-stone-900"
      >
      </div>
  </div>
</div>

<!--div data-controller="jobform">
  
  <div class="hidden" data-jobform-target="pid"><%=@pid %></div>
  <div id="jobmap" class="h-[60dvh] lg:h-[100dvh] lg:w-full"></div>
  <div class="md:mx-[5vw] lg:z-2 lg:absolute lg:top-0 lg:right-0">
    <%= render "form", job: @job %>
  </div>

  <div>
    <%= link_to "Back to jobs", jobs_path %>
  </div>
</div-->
