<div class="hidden" id="mapboxpub"><%= ENV["MAPBOX_PUB"] %></div>
<div data-controller="jobshow" id="jobshow" class="min-h-screen bg-light">
  <div class="hidden">
    <div data-jobshow-target="jobid"><%= @jobid %></div>
  </div>
  <div class="grid h-screen lg:grid-cols-[1fr_3fr] grid-rows-[3fr_1fr] gap-2">
    <div class="mainpane">
      <p class="panetitle">Trees</p>
      <div id="jobtrees" class="panecontent max-h-[75svh] overflow-scroll">
        <div class="grid grid-cols-3 px-2 text-center">
          <p>Species</p>
          <p>DBH</p>
          <p>Crown</p>
        </div>
        <% @jobtrees.each do |tree| %>
          <div class="grid grid-cols-3 bg-dull rounded-xl p-2 text-center">
            <p><%= tree.species.capitalize %></p>
            <p><%= tree.dbh %>"</p>
            <p><%= tree.crown.capitalize %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div id="map" class="max-lg:h-[60dvh]""></div>
    <div class="mainpane">
      <p class="panetitle">Notes</p>
      <div class="panecontent">
        <p><%= @job.notes %></p>
      </div>
    </div>
    
    <div class="mainpane">
      <p class="panetitle">Info</p>
      <div class="grid-cols-2 md:grid-cols-4 panecontent">
        <div class="grid grid-cols-[1fr_4fr] items-center col-span-full">
          <p>Start:</p>
          <p data-jobshow-target="jobstartview"></p>
          <p data-jobshow-target="jobstart" class="hidden"><%= @job.start %></P>
        </div>
        <div class="grid grid-cols-[1fr_4fr] items-center col-span-full">
          <p>End: </p>
          <p data-jobshow-target="jobendview"></p>
          <p data-jobshow-target="jobend" class="hidden"><%= @job.end  %></P>
        </div>
        <div class="flex gap-4">
          <p>Foreman: </p>
          <p><%= @job.foreman %></P>
        </div>
        <div class="flex gap-4">
          <p>Estimator: </p>
          <p><%= @job.estimator %></P>
        </div>
        <div class="flex gap-4">
          <p>Crew Size: </p>
          <p><%= @job.crew_size %></P>
        </div>
        <div class="flex gap-4">
          <p>Est Hours: </p>
          <p><%= @job.est_hours %></P>
        </div>
        <div class="flex gap-4">
          <p>Price: </p>
          <p>$<%= @job.price %></P>
        </div>
        <div class="grid grid-cols-2 items-center">
          <p class="col-span-full text-center">Vehicles</p>
          <% @vehicles.each do |vehicle| %>
            <p><%= vehicle %></P>
          <% end %>
        </div>
        <div class="grid grid-cols-2 items-center">
          <p class="col-span-full text-center">Equipment</p>
          <% @equipment.each do |item| %>
            <p><%= item %></P>
          <% end %>
        </div>
      </div>
    </div>
    

    
  </div>
  <div class="flex items-center justify-center gap-4 p-2" id="treecontrols">
  </div>
  <%= button_to "Destroy this job", @job, method: :delete, class:"darkbutton-s" %>
</div>




