<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="formcontainer" data-controller="propertyform">
    <div class="mainpane sm:col-start-2">
      <p class="panetitle">Property Details</p>
      <div class="panecontent">
        <% if !params[:cid] %>
          <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-stone-700 text-dark">
            <%= form.label 'Client', class: "text-light"%>
            <%= form.collection_select :client_id, current_user.clients, :id, :name, prompt: true %>
          </div>
        <% end %>
        <% if params[:cid] %>
          <%= form.number_field :client_id, value: params[:cid], class:"hidden"%>
        <% end %>
        <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-stone-700 text-dark">
          <%= form.label 'Property Type', class: "text-light" %>
          <%= form.collection_select :property_type, Proptype.all, :label, :label, prompt: true %>
        </div>
        <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-stone-700 text-dark">
          <%= form.label :name, class: "text-light" %>
          <%= form.text_field :name,
            class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light",
            id:'namein'
            %>
        </div>
        <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-stone-700 text-dark">
          <%= form.label :contact_name, 'Contact', class: "text-light"%>
          <%= form.text_field :contact_name,
            class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light",
            id:"contactnamein"
            %>
        </div>
        <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-stone-700 text-dark">
          <%= form.label :phone, class: "text-light" %>
          <%= form.text_field :phone,
            class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light",
            id: 'phonein'
            %>
        </div>
        <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-stone-700 text-dark">
          <%= form.label :email, class: "text-light" %>
          <%= form.text_field :email,
            class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light",
            id: 'emailin'
            %>
        </div>
        <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-stone-700 text-dark">
          <%= form.label :address, class: "text-light" %>
          <%= form.text_field :address,
            class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light",
            id:"addressin"
          %>
        </div>
        <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-stone-700 text-dark">
          <%= form.label :parking, class: "text-light" %>
          <%= form.text_field :parking,
            class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light"
          %>
        </div>
        <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-stone-700 text-dark">
          <%= form.label :tree_access, class: "text-light" %>
          <%= form.text_field :tree_access,
            class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light"
          %>
        </div>
        <%= form.number_field :latitude, step: "any", id:"forminlatitude", class:"hidden"%>
        <%= form.number_field :longitude, step: "any", id:"forminlongitude", class:"hidden"%>
        <%= form.submit 'Save Property',
          class: "p-2 px-4 text-center bg-dark font-bold font-inter text-2xl"
        %>
        <%= link_to "Cancel", user_dashboard_path, class:"p-2 px-4 text-center bg-light font-bold text-dark font-inter text-2xl" %>
        <% if @edit %>
          <%= link_to 'Delete Property', property_path(@property), data: {"turbo-method": :delete}, class: "mt-12 w-1/4 place-self-end p-2 px-4 text-center bg-alert font-bold text-dark font-inter text-xl" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
