<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid gap-2 p-2" data-controller="propertyform">
    <% if !params[:cid] %>
      <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
        <%= form.label 'Client' %>
        <%= form.collection_select :client_id, current_user.clients, :id, :name, prompt: true %>
      </div>
    <% end %>
    <% if params[:cid] %>
      <%= form.number_field :client_id, value: params[:cid], class:"hidden"%>
    <% end %>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label 'Property Type' %>
      <%= form.collection_select :property_type, Proptype.all, :label, :label, prompt: true %>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :name %>
      <%= form.text_field :name,
        class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-accent",
        id:'namein'
        %>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :contact_name, 'Contact'%>
      <%= form.text_field :contact_name,
        class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-accent",
        id:"contactnamein"
        %>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :phone %>
      <%= form.text_field :phone,
        class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-accent",
        id: 'phonein'
        %>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :email %>
      <%= form.text_field :email,
        class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-accent",
        id: 'emailin'
        %>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :address %>
      <%= form.text_field :address,
        class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-accent",
        id:"addressin"
      %>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :parking %>
      <%= form.text_field :parking,
        class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-accent"
      %>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :tree_access %>
      <%= form.text_field :tree_access,
        class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-accent"
      %>
    </div>
    <%= form.number_field :latitude, step: "any", id:"forminlatitude", class:"hidden"%>
    <%= form.number_field :longitude, step: "any", id:"forminlongitude", class:"hidden"%>
    <%= form.submit 'Add Property',
      class: "p-2 px-4 text-center bg-dark font-bold text-light font-inter text-3xl"
    %>
  </div>
<% end %>
