<%= form_with(model: tree, id: "#{dom_id(tree)}_form") do |form| %>
  <% if tree.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tree.errors.count, "error") %> prohibited this tree from being saved:</h2>

      <ul>
        <% tree.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="grid gap-2 p-2">
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :species %>
      <%= form.text_field :species, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light", id:'speciesfield'%>
    </div>
    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :dbh, 'Diameter at Breast Height' %>
      <%= form.number_field :dbh, class: "px-2 bg-slate-100 font-bold focus:bg-light", id:"dbhfield" %>
    </div>

    <div class="grid grid-cols-[8rem_1fr] border-b p-2 rounded-md border-dark bg-white">
      <%= form.label :crown %>
      <%= form.text_field :crown, class: "rounded-lg font-righteous text-lg px-2 bg-slate-100 font-bold focus:bg-light", id:"crownfield" %>
    </div>

    <div class="flex flex w-full justify-between text-lg">
      <%= form.text_field :latitude, class: "hidden", id:"latitudeform" %>
    </div>
    <div class="flex flex w-full justify-between text-lg">
      <%= form.text_field :longitude, class: "hidden", id:"longitudeform" %>
    </div>
    <div class="flex flex w-full justify-between text-lg">
      <%= form.number_field :property_id, class: "hidden", id:"property_id", value: params[:property] %>
    </div>
    <div>
      <%= form.submit 'Save Tree', class: "p-2 px-4 text-center bg-dark font-bold text-light font-inter text-3xl", data: { action:'mapsedit#saveTree'} %>
      <%= link_to 'Dashboard', user_dashboard_path, class: "darkbutton-s"%>
    </div>
  </div>
<% end %>
