<div data-controller="userprofile" id="userprofile">
  <div class='hidden' data-userprofile-target='pidin'><%= @pid %></div>
  <div class="grid lg:grid-cols-[1fr_6fr_1fr] min-h-screen bg-dark p-4 bg-light">
      <div class="lg:col-start-2 min-h-[30vh]">
        <div class="windowpanedark">
          <p>User Profile</p>
          <div>
            <div class="grid">
              <p class="rounded border-b border-stone-200">
                Name: <%= @profile.name %>
              </p>

              <div class="grid gap-2 grid-cols-[1fr_5fr]">
                <button
                  class="lightbutton-s w-20"
                  data-action='userprofile#showSpecies'
                >Add Species</button>

                <div class="profilecatlist" data-userprofile-target='specieslist'>
                  <p class="rounded border-b border-stone-50 col-span-full text-sm">
                    Species:
                  </p>
                  <% @profile.species.each_with_index do |item, index| %>
                    <div class="profilecatpair">
                      <p data-itemindex=<%= index %> data-itemtype="species"><%= item %></p>
                      <button data-action="userprofile#removeItem" class="profilecatbutton">x</button>
                    </div>
                  <% end %>
                  <%# render @species? no its not a model%>
                </div>

                <div class="hidden col-start-2" data-userprofile-target='speciesform'>
                  <div class="grid gap-2 grid-cols-[3fr_2fr] max-w-80">
                    <input type="text" data-userprofile-target="speciesin" class="border border-dark rounded p-2">
                    <button class="darkbutton-s" data-action="userprofile#addSpecies">Add</button>
                  </div>
                </div>
              </div>

              <div class="grid gap-2 grid-cols-[1fr_5fr]">
                <button
                  class = "lightbutton-s w-20"
                  data-action = 'userprofile#showVehicle'
                >Add Vehicles</button>
                <div class="profilecatlist" data-userprofile-target='vehicleslist'>
                  <p class="rounded border-b border-stone-50 col-span-full text-sm">
                    Vehicles:
                  </p>
                  <% @profile.vehicles.each_with_index do |item, index| %>
                    <div class="profilecatpair">
                      <p data-itemindex=<%= index %> data-itemtype="vehicles"><%= item %></p>
                      <button data-action="userprofile#removeItem" class="profilecatbutton">x</button>
                    </div>
                  <% end %>
                </div>
                <div class="hidden col-start-2" data-userprofile-target='vehiclesform'>
                  <div class="grid gap-2 grid-cols-[3fr_2fr] max-w-80">
                    <input type="text" data-userprofile-target="vehiclesin" class="border border-dark rounded p-2">
                    <button class="darkbutton-s" data-action="userprofile#addVehicle">Add</button>
                  </div>
                </div>
              </div>

              <div class="grid gap-2 grid-cols-[1fr_5fr]">
                <button
                  class="lightbutton-s w-20"
                  data-action = 'userprofile#showEquipment'
                >Add Equipment</button>
                <div class="profilecatlist" data-userprofile-target='equipmentlist'>
                  <p class="rounded border-b border-stone-50 col-span-full text-sm">
                    Equipment:
                  </p>
                  <% @profile.equipment.each_with_index do |item, index| %>
                    <div class="profilecatpair">
                      <p data-itemindex=<%= index %> data-itemtype="equipment"><%= item %></p>
                      <button data-action="userprofile#removeItem" class="profilecatbutton">x</button>
                    </div>
                  <% end %>
                </div>
                <div class="hidden col-start-2" data-userprofile-target='equipmentform'>
                  <div class="grid gap-2 grid-cols-[3fr_2fr] max-w-80">
                    <input type="text" data-userprofile-target="equipmentin" class="border border-dark rounded p-2">
                    <button class="darkbutton-s" data-action="userprofile#addEquipment">Add</button>
                  </div>
                </div>
              </div>

              <a href="/user/dashboard" class="darkbutton-s mt-12">
                Dashboard
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>